/* Import these at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  background: rgb(236,191,188);
background: linear-gradient(112deg, rgba(236,191,188,1) 0%, rgba(30,151,181,1) 0%, rgba(5,61,83,1) 0%, rgba(78,110,111,1) 68%);
  font-family: Arial, Helvetica, sans-serif;
  
}

code {
  font-family: Arial, Helvetica, sans-serif;
}
